.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://images.pexels.com/photos/6893329/pexels-photo-6893329.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load)
    no-repeat center center fixed;
  background-size: cover;
}
.login::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.login__box {
  width: 400px;
  padding: 20px 10px;
  z-index: 10;
}
.login__box h1 {
  text-align: center;
  margin-bottom: 20px;
}
.login__box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btn__login {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 14px;
  font-weight: 600;
}

.login__text {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}
.login__text:hover {
  color: rgb(0, 45, 87);
  transition: 0.3s ease;
}
