.signup {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__box h1 {
  text-align: center;
  margin-bottom: 20px;
}
.signup__box {
  width: 400px;
  padding: 20px 10px;
}
.signup__box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btn__signup {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 14px;
  font-weight: 600;
}
.btn__account {
  background: var(--color-accent);
  color: var(--color-light);
  font-size: 14px;
  font-weight: 600;
}
