@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;900&display=swap");

:root {
  --color-light: #ffffff;
  --color-dark: #333;
  --color-primary: #008caf;
  --color-accent: #009b0d;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  padding: 13px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 16px;
}

input:focus {
  outline: none;
}

button {
  outline: none;
  border: none;
  padding: 12px 10px;
  cursor: pointer;
}

img {
  width: 100%;
}
