.slider {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
}

.slide__prev,
.slide__next {
  position: absolute;
  margin: auto;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 22px);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.slide__prev {
  left: 10px;
  z-index: 10;
}
.slide__next {
  right: 10px;
}
.slide__prev:hover {
  background: rgba(0, 0, 0, 0.2);
}
.slide__next:hover {
  background: rgba(0, 0, 0, 0.2);
}

.slider__wrapper {
  display: flex;
  width: 300vw;
  height: calc(100vh - 60px);
  transition: 0.8s ease-in-out;
}
.slide__100 {
  display: flex;
  width: 300vw;
  height: calc(100vh - 60px);
  transform: translateX(-100vw);
  transition: 0.8s ease-in-out;
  background: #eebb3e;
  color: #fff;
}
.slide__200 {
  display: flex;
  width: 300vw;
  height: calc(100vh - 60px);
  transform: translateX(-200vw);
  transition: 0.8s ease-in-out;
}

.slide {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
}
.slide__content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.content {
  max-width: 600px;
}
.content h2 {
  font-size: 70px;
}
.content p {
  font-size: 25px;
  margin-bottom: 20px;
}
.slide__img {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide__img img {
  height: 100%;
  width: auto;
}

@media screen and (max-width: 768px) {
  .slide {
    flex-direction: column;
  }
  .slide__content {
    height: 50%;
  }
  .slide__img {
    height: 50%;
  }
  .content {
    text-align: center;
  }
  .content h2 {
    font-size: 45px;
  }
  .content p {
    font-size: 20px;
  }
}
